@{
    ViewData["Title"] = "Yakimov Nikolay";
    
}

@using Calculator.Extension;

<h2>@ViewData["Title"]</h2>

<form method="post" asp-controller="Calculator" asp-action="ProcessingCalculationRequest">
    @Html.AntiForgeryToken()
    <input type="text" name="num1" required />
    <select name="operation" required>
        <option value="Add">+</option>
        <option value="Subtract">-</option>
        <option value="Multiply">*</option>
        <option value="Divide">/</option>
    </select>
    <input type="text" name="num2" required />
    <input type="submit" value="Calculate" />
</form>

<ul>
@if (ViewBag.Data != null)
{
    @foreach(var rec in ViewBag.Data)
    {
        <li>
                <p>(@rec.ID_DataInputVariant) @rec.Operand_1 @rec.Type_operation @rec.Operand_2 = @rec.Result</p>
        </li>
    }
}
</ul>
